* {
    margin: 5px;
    padding: 2px;
}
body
{
  background-image: url("../Imagenes/fondo.jpeg");
}

h1 {
  color: black;
  text-align: center;
}
  
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
}

.navbar {
  overflow: hidden;
  background-color: rgb(52, 135, 163);
  font-family: 'Times New Roman', Times, serif;
  
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
  
.subnav {
  float: left;
  overflow: hidden;
}
  
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: lightcyan;
}
  
.subnav-content {
  display: none;
  position: relative;
  left: 0;
  background-color: rgb(52, 135, 163);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
  
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
  
.subnav:hover .subnav-content {
  display: block;
}

#contant {
	width:960px;
}

li{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 30px;
  }

h3 {
	margin:0px;
	padding:0px;
  font-family:'Times New Roman', Times, serif;
	font-size:25px;
	color:#040086;
	font-weight:normal;
	padding-left:5px;
	padding-bottom:5px;
  text-align: left;
}

h4{
  color: #852453;
  margin:0px;
	padding:0px;
  font-family:'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight:normal;
	padding-left:5px;
	padding-bottom:0px;
  text-align: left;
}
.sideBar p{
  clear:right;
  margin-bottom:15px;
  text-align: left;
  vertical-align: top;
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  text-align: left;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-weight: bold;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.webpage {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  width: 20%;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
th {
  background-color: black;
  color: white;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: white
}
a {
  color: black;
  text-decoration-line: none;
}
a :hover{
  color: rgb(84, 84, 84);
  text-decoration-line: underline;
}