* {
    margin: 5px;
    padding: 2px;
}
body
{
  background-color: lightblue;
}
  
h1 {
  color: black;
  text-align: center;
}
  
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.navbar {
  overflow: visible;
  background-color: #333;
  font-family: Arial;
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
  
.subnav {
  float: left;
  overflow: hidden;
}
  
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: lightblue;
}
  
.subnav-content {
  display: none;
  position: relative;
  left: 0;
  background-color: rgb(52, 135, 163);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
  
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
  
.subnav:hover .subnav-content {
  display: block;
}

#contant {
	width:960px;
}
h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  }
h3 {
	margin:0px;
	padding:0px;
  font-family:'Times New Roman', Times, serif;
	font-size:36px;
	color:#000000;
	font-weight:normal;
	padding-left:5px;
	padding-bottom:20px;
  text-align: left;
}
.sideBar p{
  clear:right;
  margin-bottom:15px;
  text-align: left;
  vertical-align: top;
}
